body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.box{
    width: 80%;
    height: 75%;
    border: 3px solid black;
}
.top{
    padding: 23px;
    height: 32%;
    display: flex;
    justify-content: space-between;
}
.top-left{
    width: 50%;
    height: 100%;
    border: 2px solid black;
}
.top-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.item1{
    width: 90%;
    height: 25%;
    border: 2px solid black;
}
.item2{
    width: 90%;
    height: 25%;
    border: 2px solid black;
}
.item3{
    width: 90%;
    height: 25%;
    border: 2px solid black;
}
.mid{
    padding: 23px;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.mid-left{
    width: 50%;
    height: 75%;
    border: 3px solid black;
}
.mid-right{
    width: 45%;
    height: 75%;
    border: 3px solid black;
}
.bottom{
    padding: 23px;
    height: 32%;
    display: flex;
    justify-content: space-between;
}
.bottom-left{
    width: 50%;
    height: 25%;
    border: 3px solid black;
}
.bottom-right{
    width: 45%;
    height: 100%;
    border: 3px solid black;
}